* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1150px !important;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

#white_bg {
  position: absolute;
  z-index: 11;
  display: none;
  opacity: 0;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
}

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #232d39;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: #232d39;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #fff;
  border-radius: 50%;
}

#scroll-percentage {
  position: fixed;
  bottom: -6px;
  left: 0x;
  width: 100vw;
  color: #000;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

#scroll-percentage .percentage {
  display: inline-block;
  background-color: #00000000;
  border-bottom: 4px solid #33CCA1;
  height: 4px;
  width: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.df {
  display: flex;
  justify-content: center;
  align-items: center;
}

.special {
  color: #33CCA1;
}

header {
  padding: 30px 0;
  background: #1A1A1A;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .desktop-menu {
      li {
        margin: 0 20px;

        a {
          font-size: 20px;
          color: white;
          font-family: 'Inter', sans-serif;
          padding-bottom: 5px;
          transition: 0.3s;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background: #33CCA1;
            transition: 0.3s;
          }

          &:hover {
            color: #33CCA1;
            &:after {
              width: 100%;
            }
          }

        }
      }
    }

    .language {
      position: relative;
      font-size: 20px;
      color: white;
      font-family: 'Inter', sans-serif;
      img{
        margin-bottom: 2px;
        width: 17px;
        height: 8px;
        transition: 0.3s;
      }
      &.show{
        .options{
          display: block !important;
        }
        img{
          transform: rotate(180deg);
        }
      }
      .options{
        display: none;
        background: #ffffff;
        position: absolute;
        border-radius: 10px;
        bottom: -80px;
        z-index: 100;
        .option{
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          border-radius: 10px 10px 0 0;
          padding: 5px 30px;
          transition: 0.3s;
          &:last-child{
            border-top: 1px solid #33CCA1;
            border-radius: 0 0 10px 10px;
            
          }
          &:hover{
            background: #33CCA1;
            color: white;
          }
        }
      }
    }
  }
}

.hidden{
  display: none !important;
}

main {
  .banner {
    position: relative;
    display: flex;
    padding: 50px 0;
    background: #1A1A1A;
    justify-content: space-between;
    width: 100%;
    height: 650px;

    .banner_car {
      width: 45%;
      max-width: 690px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    .banner_car_mobile{
      display: none;
    }

    .banner_text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-left: 20px;
      padding-bottom: 100px;

      h1 {
        font-weight: 600;
        font-size: 48px;
        text-align: right;
        color: white;
      }

      .banner_btns {
        margin-top: 50px;

        a {
          max-width: 170px;
          max-height: 55px;
          padding: 15px 50px;
          font-size: 18px;
          font-weight: 500;
          color: #33CCA1;
          border: 2px #33CCA1 solid;
          transition: 0.3s;

          &:hover {
            background: #33CCA1;
            color: white;
          }
        }
      }
    }
  }

  .cards {
    position: relative;
    padding: 100px 0;

    .left_line {
      position: absolute;
      top: 20px;
      left: 0;
      z-index: -1;
    }

    .right_line {
      position: absolute;
      bottom: 20px;
      right: 0;
      z-index: -1;
    }

    .container {
      .cards_title {
        margin: 0 auto;
        text-align: center;

        h2 {
          font-size: 42px;
          font-weight: 600;
        }
      }

      .cards_wrapper {
        margin-top: 60px;
        width: 100%;

        .cards_devider {
          height: 500px;
          width: 2px;
          background-color: #33CCA1;
          margin: 0 50px;
        }

        .cards_div {
          .card {
            width: 380px;
            height: 220px;
            padding: 25px;
            border-radius: 15px;
            box-shadow: 0 2px 20px 10px rgba(201, 201, 201, 0.25);
            border: none;
            background: white;

            &:first-child {
              margin-bottom: 35px;
            }

            img {
              width: 65px;
              height: 65px;
              margin-bottom: 5px;
            }

            .card_text {
              text-align: center;

              h3 {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 5px;
              }

              p {
                font-size: 16px;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }

  .promo {
    padding-bottom: 100px;

    .container {
      .promo_title {
        margin: 0 auto;
        text-align: center;

        h2 {
          font-size: 42px;
          font-weight: 600;
        }
      }

      .promo_wrapper {
        flex-wrap: wrap;
        margin-top: 55px;
        justify-content: space-around;

        .promo_div {
          max-width: 350px;

          .promo_img {
            max-width: 100%;
            object-fit: cover;
            margin-bottom: 15px;
            box-shadow: 0 0 20px 10px rgba(201, 201, 201, 0.25);
          }

          .promo_date {
            font-size: 15px;
            text-align: left;
            font-weight: 500;
            margin-bottom: 15px;
          }

          .promo_heading {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 15px;
          }

          .promo_btn {
            width: 150px;
            height: 45px;
            font-size: 15px;
            font-weight: 500;
            color: #33CCA1;
            border: 2px #33CCA1 solid;
            transition: 0.3s;

            &:hover {
              background: #33CCA1;
              color: white;
            }
          }
        }
      }
    }
  }

  .telegram {
    padding: 70px 0;
    background: #1A1A1A;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .telegram_heading {
        text-align: center;
        font-size: 38px;
        font-weight: 600;
        color: white;
      }

      .telegram_btn {
        margin-top: 30px;
        width: 300px;
        height: 75px;
        border-radius: 10px;
        background: #33CCA1;
        color: white;
        font-size: 24px;
        font-weight: 600;
        transition: 0.3s;

        &:hover {
          background: #ffffff;
          color: #33CCA1;
        }
      }
    }
  }

  .questions {
    padding: 100px 0;

    .container {
      .questions_title {
        h2 {
          font-size: 42px;
          font-weight: 600;
          margin-bottom: 50px;
        }
      }

      .accordion_div {
        padding: 0 100px;

        .accordion {
          display: grid;
          grid-template-rows: 0fr;
          overflow: hidden;
          transition: grid-template-rows 0.3s;
        }
  
        .accordion-btn {
          width: 100%;
          justify-content: space-between;
          cursor: pointer;
        }
  
        .icon {
          position: relative;
          padding-right: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
  
          * {
            display: flex;
          }
  
          .before {
            content: "";
            position: absolute;
            width: 20px;
            height: 4px;
            background: #33CCA1;
          }
  
          .after {
            transition: 0.3s;
            content: "";
            position: absolute;
            width: 20px;
            height: 4px;
            background: #33CCA1;
            transform: rotate(90deg);
          }
        }

        .accordion-wrapper:not(:last-child){
          margin-bottom: 50px;
        }
  
        .accordion-wrapper.open>.accordion {
          grid-template-rows: 1fr;
        }
  
        .accordion-wrapper.open>.accordion-btn .icon .after {
          transform: rotate(0deg);
        }
  
        .accordion-wrapper.open .content {
          grid-template-rows: 1fr;
        }
  
        .content {
          min-height: 0;
          margin-top: 20px;
          p{
            font-size: 18px;
            font-weight: 500;
            line-height: 1.5;
          }
        }
      }      
    }
  }

  .contacts{
    padding-bottom: 100px;
    .container{
      padding: 0 100px;
      .questions_title {
        margin: 0 auto;
        text-align: center;

        h2 {
          font-size: 42px;
          font-weight: 600;
        }
      }
      .form_wrapper{
        min-height: 500px;
        margin-top: 50px;
        border-radius: 15px;
        background: #1A1A1A;
        position: relative;
        .arrow{
          max-width: 290px;
          width: 100%;
          img{
            position: absolute;
            top: 50px;
            left: 0;
            max-width: 300px;
          }
        }
        .form_div{
          padding: 40px 80px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          .form_title{
            font-size: 22px;
            color: white;
            font-weight: 600;
            margin-bottom: 25px;
          }
          .info{
            margin-bottom: 25px;
            p{
              margin-left: 10px;
              color: white;
              font-size: 15px;
              font-weight: 400;
              line-height: 20px;
            }
          }
          form{
            margin-top: 25px;
            width: 100%;
            .title{
              font-size: 28px;
              font-weight: 600;
              color: white;
            }
            .inputs{
              display: flex;
              justify-content: space-between;
              width: 100%;
              margin-top: 30px;
              input{
                background: transparent;
                width: 100%;
                max-width: 200px;
                border: none;
                outline: none;
                padding-bottom: 10px;
                border-bottom: 2px solid #33CCA1;
                color: white !important;
                &:focus{
                  background-color: #1a1a1a00 !important;
                }
                &:placeholder{
                  color: white !important;
                }
              }
            }
            .submit{
              width: 100%;
              margin-top: 40px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .submit_btn{
                min-width: 190px !important;
                height: 55px;
                border: 2px solid #33CCA1;
                font-size: 18px;
                font-weight: 500;
                background: transparent;
                color: #33CCA1;
                margin-right: 50px;
                transition: 0.3s;
                &:hover{
                  background: #33CCA1;
                  color: white;
                }
              }
              .checkboxes{
                color: rgb(170, 170, 170);
                .checkbox_container{
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  &:first-child{
                    margin-bottom: 10px;
                  }
                  label{
                    font-size: 14px;
                    font-weight: 400;
                  }
                  input{
                    min-width: 20px !important;
                    min-height: 20px !important;
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

footer{
  .container{
    padding-bottom: 50px;
    .socials{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .socials_wrapper{
        .social{
          min-width: 45px;
          min-height: 45px;
          padding: 7px;
          margin-left: 30px;
          background: #33CCA1;
          border-radius: 5px;
          &:first-child{
            margin-left: 0;
          }
          &:hover img{
            filter: invert(100%);
          }
        }
      }
    }
    .footer_devider{
      margin: 40px 0;
      width: 100%;
      height: 1px;
      background:#33CCA1;
    }
    .footer_menu{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      ul{
        li:not(:last-child){
          margin-right: 40px;
        }
      }

      a{
        font-size: 18px;
        font-weight: 500;
        color: #0A0A0A;
        position: relative;
        padding-bottom: 5px;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background: #33CCA1;
          transition: 0.3s;
        }

        &:hover {
          color: #33CCA1;
          &:after {
            width: 100%;
          }
        }
      }

    }
  }
  .footer_info{
    background: #070707;
    padding: 12px 0;
    P{
      font-size: 14px;
      color: #616161;
    }
  }
}

@media screen and (max-width:1150px){
  .container{
    padding: 0 30px;
  }

  main .banner{
    height: auto;
    padding-bottom: 50px;
    .banner_car{
      width: 40%;
    }
  }
}
@media screen and (max-width:1050px){
  main .banner {
    flex-direction: column-reverse !important;
    .banner_text {
      padding-bottom: 50px;
      margin-left: 0;
      h1{
        width: 100%;
        text-align: center;
      }
      .banner_btns{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        a{
          width: 170px;
          height: 55px;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .banner_car{
      display: none;
    }
  }
  .banner_car{
    position: initial !important;
    transform: none !important;
  }
}
@media screen and (max-width:990px){
  body footer .container .footer_menu, footer .container .footer_devider, main .contacts .container .form_wrapper .arrow{
    display: none;
  }

  main .contacts .container .form_wrapper .form_div{
    padding: 40px;
  }

  footer .container{
    padding-bottom: 20px;
  }
  main .cards .container .cards_wrapper {
    flex-direction: column !important;
    margin-top: 50px;
    .cards_devider{
      display: none;
    }
    .cards_left{
      margin-bottom: 35px;
    }
    .cards_div{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .card{
        max-width: 100%;
        min-height: 220px;
        height: auto;
      }
    }
  }

  main .cards{
    padding: 50px 0;
  }

  main .cards .left_line{
    top: 20%;
    max-width: 100%;
  }
}

.menu_burger{
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img{
    width: 30px;
    height: 30px;
  
  }
}

#mobile_menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 999999999;
  height: 100%;
  width: 100%;
  top: 0;
  right: -100%;
  transition: 0.3s;
  flex-direction: column;
  background: rgb(0, 0, 0);
  .menu_heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    .heading{
      h3{
        font-size: 24px;
        color: #33CCA1;
      }
    } 
    .close_menu{
      cursor: pointer;
      width: 30px;
      height: 30px;
      position: relative;
      &:before, &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #33CCA1;
        top: 50%;
        left: 0;
      }
      &:before{
        transform: rotate(45deg);
      }
      &:after{
        transform: rotate(-45deg);
      }
    }
  }
  ul{
    width: 100%;
    padding: 0 30px;
    li{
      width: 100%;
      a{
        display: flex;
        width: 100%;
        font-size: 24px;
        color: rgb(255, 255, 255);
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid rgb(191, 191, 191);
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width:1110px){
  .promo_div{
    margin-bottom: 35px;
  }
}
@media screen and (max-width:700px){
  main .contacts .container{
    padding: 0 30px;
  }
}
@media screen and (max-width:850px){
  .desktop-menu{
    display: none;
  } 
  .menu_burger{
    display: flex;
  }
  main .cards .container .cards_title h2{
    font-size: 28px;
  }
  main .promo{
    padding-bottom: 50px;
  }
  main .questions{
    padding: 50px 0;
  }
  main .contacts .container .questions_title h2{
    font-size: 28px;
  }
}
@media screen and (max-width:685px){
  main .banner {
    padding-top: 20px;
    .container{
      max-width: 100%;
      padding: 0 !important;
      .banner_text{
        h1{
          padding: 0 15px;
          font-size: 33px;
          text-align: center;
        }
      }
    }
  }
  main .promo .container .promo_title h2{
    font-size: 28px;
  }
  .banner_car_mobile{
    display: block !important;
    width: 100%;
  }
  main .telegram .container .telegram_heading{
    font-size: 22px;
  }
  main .telegram .container .telegram_btn{
    max-width: 270px;
    max-height: 60px;
    font-size: 18px;
  }
  main .questions .container .questions_title{
    display: flex;
    justify-content: center;
    align-items: center;
    h2{
      font-size: 28px;
      text-align: center;
    }
  }

  main .questions .container .accordion_div{
    padding: 0;
    .accordion-btn{
      h2{
        font-size: 18px;
        margin-right: 30px;
      }
    }
    p{
      font-size: 14px !important;
    }
  }

  main .questions .container .accordion_div .accordion-wrapper:not(:last-child){
    margin-bottom: 25px;
  }
}

@media screen and (max-width:550px){
  main .contacts .container .form_wrapper .form_div form .inputs{
    flex-direction: column;
    input{
      margin-bottom: 30px;
      max-width: 100%;
    }
  }

  main .contacts .container .form_wrapper{
    margin-top: 30px;
  }

  main .contacts .container .form_wrapper .form_div form .submit{
    flex-direction: column-reverse;
    .checkboxes{
      margin-bottom: 30px;
      width: 100%;
    }
    .submit_btn{
      margin-right: 0;

    }
  }
}
@media screen and (max-width:500px){
  main .banner {
    padding-top: 20px;
    .container{
      max-width: 100%;
      padding: 0 !important;
      .banner_text{
        padding-bottom: 0;
        h1{
          font-size: 25px;
          text-align: left;
        }
      }
    }
  }
  
  .banner_car_mobile{
    display: block !important;
    width: 100%;
  }

  main .contacts{
    padding-bottom: 50px;
  }

  main .contacts .container .form_wrapper .form_div form .submit{
    margin-top: 10px;
  }

  main .contacts .container .form_wrapper .form_div{
    padding: 40px 20px;
  }

  main .contacts .container{
    padding: 0 10px;
  }

  footer .container .socials{
    flex-direction: column;
    .socials_wrapper{
      margin-bottom: 20px;
    }
    .footer_logo{
      margin-bottom: 30px;
    }
  }
}